<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul>
			<%
				for(var i=0;i<lists.length;i++){
			
			%>
			<li><%=lists[i]%></li>
			<%
				}
			%>
		</ul>
	</body>
</html>