html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

input{
	margin-left: 50%;
}

.b1{
	width :100PX;
	height: 100px;
	background-color: red;
}
.b2{
	width: 300px;
	height: 300px;
	background-color: yellow;
}