html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}



#dadiv {
	width: 520px;
	height: 320px;
	margin: 70px auto;
	padding-top: 10px;
	background-color: greenyellow;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	
}

#imglist{
	position: absolute;
	/* left: -510px; */
	left:  	0px;
	


	
}

#dadiv img {
	width: 500px;
	height: 300px;

	
}


#imglist li{
	list-style: none;
	float: left;
	padding: 0px 10px;

}

#navdiv{
	position:absolute;
	bottom: 20px;
		
}

#navdiv a{
	float: left;
	width:15px;
	height: 15px;
	opacity: 0.8;
	margin: 0 5px;
	background-color: red;

}
#navdiv a:hover{
	background-color: black;

}