html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

.divxian{
	width: 0;
	height: 1000px;
	border-left: 1px solid #000000;
	position: absolute;
	left: 800px;
	
}

#box1{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	left: 0px;
	font-size: 40px;
	text-align: center;
	line-height: 100px;
}
#box2{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	left: 0px;
	top: 150px;
	font-size: 40px;
	text-align: center;
	line-height: 100px;
}


#btn02{
	
	margin-left: 50%;
}