html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

div{
	width: 1000px;
	height: 300px;
	border: 1px solid #000000;
	margin: 100px auto;
	overflow: hidden;
}
div ul li img{
	width: 500px;
	height: 300px;
}
ul{
	width: 3500px;
	height: 300px;
	background: #000000;
	animation: move 10s linear 0s infinite normal;
}
ul:hover{
	animation-play-state: paused;
}
ul:hover li{
	opacity: 0.5;
}
ul li:hover{
	opacity: 1;
}
ul li{
	float: left;
	list-style: none;
	width: 500px;
	height: 300px;
	background: red;
	border: #000000 1px solid;
	box-sizing: border-box;
	
}
@keyframes move{
	from{
		margin-left: 0;
	}to{
		margin-left: -2500px;
	}
}